Defaults env_reset

## Allow harmless ENV
Defaults env_keep = "COLORS LS_COLORS PS1 PS2"

{% for variable in sudo_conf_env_keep %}
Defaults env_keep += "{{ variable }}"
{% endfor %}

root    ALL=(ALL) SETENV: ALL
{% for group in sudo_conf_default_allow_groups %}
%{{ group }} ALL=(ALL) ALL
{% endfor %}

#includedir {{ sudo_etc_dir }}/sudoers.d
