Defaults env_keep += "PKG_PATH PKG_DBDIR PKG_TMPDIR TMPDIR PACKAGEROOT PACKAGESITE PACKAGESITE_MIRRORS PKGDIR FTP_PASSIVE_MODE"
Defaults env_keep += "PORTSDIR PORTS_INDEX PORTS_DBDIR PACKAGES PKGTOOLS_CONF"

root    ALL=(ALL) SETENV: ALL
%wheel  ALL=(ALL) ALL
%sudo   ALL=(ALL:ALL) ALL

#includedir {{ sudo_etc_dir }}/sudoers.d
